@{
    ViewBag.Title = "Home Page";
}
<div style="text-align:center; margin-top:50px ">
    <p>@Html.ActionLink("Registration", "Create", "Access", null,new { @class = "btn btn-primary btn-lg" })</p>
    <p>@Html.ActionLink("Log in", "Login", "Access", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>
